<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="SystemErr" class="ch.qos.logback.core.ConsoleAppender" target="System.err">
        <target>System.err</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
            <level>ERROR</level>
        </filter>

    </appender>

    <appender name="SystemOut" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
            <level>INFO</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="SystemErr"/>
        <appender-ref ref="SystemOut"/>
    </root>
</configuration>